[submodule "dependencies/clanlib"]
	path = dependencies/clanlib
	url = https://github.com/killerasus/ClanLib.git
	branch = cmake

[submodule "dependencies/lua"]
	path = dependencies/lua
	url = https://github.com/lua/lua.git
	branch = v5.1.4
